{{ $bookmarks := .Site.Params.bookmarks }}
<section class="contact" id="contact">
  <div class="container-fluid">
    <div class="row no-gutters">
      <div class="col-lg-6">
	<img height="400" src="{{ $bookmarks.image | absURL }}" alt="{{ $bookmarks.image }}">							
      </div>
      <div class="col-lg-6">
        <div class="contact-aria">
          {{ range $bookmarks.groups }}
          <div class="bookmark-group">
            <h3>
              {{ .name | safeHTML }}
            </h3>
            <ul>
              {{ range .links }}
              <li>{{ .title }} <a href="{{ .url }}" target="_blank"><small>{{ .label }}</small></a></li>
              {{ end }}
            </ul>
          </div>
          {{ end }}
          <p>
            {{ $bookmarks.description }}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
